body{
  margin: 0%;
  padding: 0%;
}
.navbar {
  display: grid;
  grid-template-columns: auto auto; 
  align-items: center; 
  padding: 10px;
  background-color: rgb(148, 60, 92);
  
}

.navbar__logo img {
  height: 60px;
  margin-left: 60px;
  
}

.navbar__menu {
  display: flex;
  justify-content: center; 
  margin-right: 50px;

}

.navbar__menu-link {
  margin-left: 50px; 
  color: #e0d9d9;
  text-decoration: none;
  padding: 8px 16px;
  margin-right: 20px;
  background-color: #fbfdff;
  border-bottom: black;
  border-radius: 50px;
 
  
}



















